<div class="service">
  <div class="container">
    <div class="section-header">
      <p>Our Services</p>
      <h2>Provided Services</h2>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="service-item">
          <img src="./assets/img/service-1.jpg" alt="Service">
          <h3>Commercial & Standard Deep Cleaning</h3>
          <p>
            Experience thorough cleaning solutions tailored for every need.
          </p>
<!--          <a class="btn" href="">Learn More</a>-->
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="service-item">
          <img src="./assets/img/service-2.jpg" alt="Service">
          <h3>Commercial & Standard Window Cleaning</h3>
          <p>
            Let us keep your windows spotless with unmatched precision.
          </p>
<!--          <a class="btn" href="">Learn More</a>-->
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="service-item">
          <img src="./assets/img/service-4.jpg" alt="Service">
          <h3>Move-in & Move-out Cleaning</h3>
          <p>
            Move in with ease or out with confidence using our services.
          </p>
<!--          <a class="btn" href="">Learn More</a>-->
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="service-item">
          <img src="./assets/img/service-3.jpg" alt="Service">
          <h3>Commercial Move-in & Move-out Cleaning</h3>
          <p>
            Professional cleaning to simplify your business moves.
          </p>
<!--          <a class="btn" href="">Learn More</a>-->
        </div>
      </div>
    </div>
  </div>
</div>
