<div class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-md-6">
        <div class="about-img">
          <img src="./assets/img/about.jpg" alt="Image">
        </div>
      </div>
      <div class="col-lg-7 col-md-6">
        <div class="about-text">
          <h2><span>2</span> Years Experience</h2>
          <p>
            At Summer's Quality Cleaning, we are dedicated to transforming spaces with our expert cleaning services.
            Our team of skilled professionals delivers thorough, reliable, and efficient cleaning solutions tailored to meet your unique needs.
          </p>
          <p>
            From deep cleaning to move-in and move-out services, we ensure every corner is spotless and every customer is satisfied.
            With a commitment to excellence and a passion for cleanliness, we strive to create healthier, happier environments for homes and businesses alike.
            Trust us to bring a touch of perfection to your space.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
