<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-3">
        <div class="footer-contact">
          <h2>Get In Touch</h2>
          <p><i class="fa fa-map-marker-alt"></i>123 Street, New York, USA</p>
          <p><i class="fa fa-phone-alt"></i>+1 (480) 809-5442</p>
          <p><i class="fa fa-envelope"></i>admin@sqccleaning.com</p>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="footer-link">
          <h2>Useful Link</h2>
          <a href="#" routerLink="/about">About Us</a>
          <a href="#" routerLink="/services">Our Services</a>
          <a href="#" routerLink="contanct-us">Contact Us</a>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="footer-form">
          <h2>Social Media Links</h2>
          <div class="footer-social">
            <a href=""><i class="fab fa-twitter"></i></a>
            <a href=""><i class="fab fa-facebook-f"></i></a>
            <a href=""><i class="fab fa-youtube"></i></a>
            <a href=""><i class="fab fa-instagram"></i></a>
            <a href=""><i class="fab fa-linkedin-in"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
