<div class="feature">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <div class="section-header left">
          <p>Why Choose Us</p>
          <h2>Expert Cleaners and World Class Services</h2>
        </div>
        <p>
          At Summers, we pride ourselves on delivering exceptional cleaning solutions tailored to your needs.
          Our expert cleaners are highly trained and equipped with top-notch tools to ensure every space shines.
          Experience the difference with our reliable, efficient, and world-class cleaning services.

        </p>
      </div>
      <div class="col-md-7">
        <div class="row align-items-center feature-item">
          <div class="col-5">
            <img src="./assets/img/feature-1.jpg" alt="Feature">
          </div>
          <div class="col-7">
            <h3>Expert Cleaners</h3>
            <p>
              Our skilled professionals ensure your space is spotless and sparkling.
            </p>
          </div>
        </div>
        <div class="row align-items-center feature-item">
          <div class="col-5">
            <img src="./assets/img/feature-2.jpg" alt="Feature">
          </div>
          <div class="col-7">
            <h3>Reasonable Prices</h3>
            <p>
              Premium cleaning services that won’t break the bank.
            </p>
          </div>
        </div>
        <div class="row align-items-center feature-item">
          <div class="col-5">
            <img src="./assets/img/feature-3.jpg" alt="Feature">
          </div>
          <div class="col-7">
            <h3>Quick & Best Services</h3>
            <p>
              Efficient cleaning with top-tier results, right on time.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
