<div class="price">
  <div class="container">
    <div class="section-header">
      <p>Pricing Plan</p>
      <h2>No Extra Hidden Charges</h2>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="price-item">
          <div class="price-header">
            <div class="price-icon">
              <i class="fa fa-home"></i>
            </div>
            <div class="price-title">
              <h2>Standard</h2>
            </div>
            <div class="price-pricing">
              <h2><small>$</small>99</h2>
            </div>
          </div>
          <div class="price-body">
            <div class="price-des">
              <ul>
                <li>3 Bedrooms cleaning</li>
                <li>2 Bathrooms cleaning</li>
                <li>1 Living room Cleaning</li>
                <li>Vacuum Cleaning</li>
                <li>Within 6 Hours</li>
              </ul>
            </div>
          </div>
          <div class="price-footer">
            <div class="price-action">
              <a href=""><i class="fa fa-shopping-cart"></i>Book Now</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="price-item featured-item">
          <div class="price-header">
            <div class="price-icon">
              <i class="fa fa-star"></i>
            </div>
            <div class="price-title">
              <h2>Premium</h2>
            </div>
            <div class="price-pricing">
              <h2><small>$</small>149</h2>
            </div>
          </div>
          <div class="price-body">
            <div class="price-des">
              <ul>
                <li>5 Bedrooms cleaning</li>
                <li>3 Bathrooms cleaning</li>
                <li>2 Living room Cleaning</li>
                <li>Vacuum Cleaning</li>
                <li>Within 6 Hours</li>
              </ul>
            </div>
          </div>
          <div class="price-footer">
            <div class="price-action">
              <a href=""><i class="fa fa-shopping-cart"></i>Book Now</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="price-item">
          <div class="price-header">
            <div class="price-icon">
              <i class="fa fa-gift"></i>
            </div>
            <div class="price-title">
              <h2>Enterprise</h2>
            </div>
            <div class="price-pricing">
              <h2><small>$</small>199</h2>
            </div>
          </div>
          <div class="price-body">
            <div class="price-des">
              <ul>
                <li>8 Bedrooms cleaning</li>
                <li>5 Bathrooms cleaning</li>
                <li>3 Living room Cleaning</li>
                <li>Vacuum Cleaning</li>
                <li>Within 12 Hours</li>
              </ul>
            </div>
          </div>
          <div class="price-footer">
            <div class="price-action">
              <a href=""><i class="fa fa-shopping-cart"></i>Book Now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
