<div class="faqs">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <div class="section-header left">
          <p>You Might Ask</p>
          <h2>Frequently Asked Questions</h2>
        </div>
        <img src="./assets/img/faqs.jpg" alt="Image">
      </div>
      <div class="col-md-7">
        <div id="accordion">
          <div class="card">
            <div class="card-header">
              <a class="card-link collapsed" data-toggle="collapse" href="#collapseOne" aria-expanded="true">
                <span>1</span> What types of cleaning services do you offer?
              </a>
            </div>
            <div id="collapseOne" class="collapse show" data-parent="#accordion">
              <div class="card-body">
                We offer a wide range of services, including deep cleaning, window cleaning, move-in/move-out cleaning, and specialized commercial cleaning solutions.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <a class="card-link" data-toggle="collapse" href="#collapseTwo">
                <span>2</span> How do you ensure the quality of your cleaning services?
              </a>
            </div>
            <div id="collapseTwo" class="collapse" data-parent="#accordion">
              <div class="card-body">
                Our team consists of trained and experienced cleaners who use professional-grade equipment and products to deliver exceptional results.
                We also conduct regular quality checks to maintain high standards.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <a class="card-link" data-toggle="collapse" href="#collapseThree">
                <span>3</span> Do I need to provide any cleaning supplies or equipment?
              </a>
            </div>
            <div id="collapseThree" class="collapse" data-parent="#accordion">
              <div class="card-body">
                No, we bring all the necessary supplies and equipment. However, if you have specific products you’d like us to use, we’re happy to accommodate your preferences.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <a class="card-link" data-toggle="collapse" href="#collapseFour">
                <span>4</span> How long does a typical cleaning session take?
              </a>
            </div>
            <div id="collapseFour" class="collapse" data-parent="#accordion">
              <div class="card-body">
                The duration depends on the size and condition of the space, as well as the type of service requested.
                We’ll provide an estimated time when booking your service.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <a class="card-link" data-toggle="collapse" href="#collapseFour">
                <span>5</span> What is your cancellation or rescheduling policy?
              </a>
            </div>
            <div id="collapseFour" class="collapse" data-parent="#accordion">
              <div class="card-body">
                We understand that plans can change. You can cancel or reschedule your appointment by contacting us at least 24 hours in advance to avoid any fees.

              </div>
            </div>
          </div>
        </div>
<!--        <a class="btn" href="">Ask more</a> -->
      </div>
    </div>
  </div>
</div>
