<div class="blog">
  <div class="container">
    <div class="section-header">
      <p>Latest From Blog</p>
      <h2>Stay Updated From Our Blog</h2>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="blog-item">
          <img src="./assets/img/blog-1.jpg" alt="Blog">
          <h3>Lorem ipsum dolor</h3>
          <div class="meta">
            <i class="fa fa-list-alt"></i>
            <a href="">Flour Cleaning</a>
            <i class="fa fa-calendar-alt"></i>
            <p>11-Jun-20</p>
          </div>
          <p>
            Lorem ipsum dolor sit amet elit. Phasellus nec pretium mi. Curabitur facilisis ornare velit non vulputate. Aliquam metus tortor, auctor id gravida condimentum
          </p>
          <a class="btn" href="">Learn More</a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="blog-item">
          <img src="./assets/img/blog-2.jpg" alt="Blog">
          <h3>Lorem ipsum dolor</h3>
          <div class="meta">
            <i class="fa fa-list-alt"></i>
            <a href="">Glass Cleaning</a>
            <i class="fa fa-calendar-alt"></i>
            <p>11-Jun-20</p>
          </div>
          <p>
            Lorem ipsum dolor sit amet elit. Phasellus nec pretium mi. Curabitur facilisis ornare velit non vulputate. Aliquam metus tortor, auctor id gravida condimentum
          </p>
          <a class="btn" href="">Learn More</a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="blog-item">
          <img src="./assets/img/blog-3.jpg" alt="Blog">
          <h3>Lorem ipsum dolor</h3>
          <div class="meta">
            <i class="fa fa-list-alt"></i>
            <a href="">Carpet Cleaning</a>
            <i class="fa fa-calendar-alt"></i>
            <p>11-Jun-20</p>
          </div>
          <p>
            Lorem ipsum dolor sit amet elit. Phasellus nec pretium mi. Curabitur facilisis ornare velit non vulputate. Aliquam metus tortor, auctor id gravida condimentum
          </p>
          <a class="btn" href="">Learn More</a>
        </div>
      </div>
    </div>
  </div>
</div>
